<div class="container-fluid">
    <div class="row">
        <div class="col-1 d-none d-lg-flex vh-100 flex-column align-items-center justify-content-center border-end">
            <app-icon-nav [links]="outerNav"></app-icon-nav>
        </div>
        <div class="col-1 d-none d-lg-flex vh-100 flex-column align-items-center justify-content-center border-right border-end">
            <app-icon-nav [links]="getInnerNav()"></app-icon-nav>
        </div>
        <div class="col-12 col-lg-10">
            <div class="p-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>